<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Intelligence App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Business Intelligence App</h1>
    </header>
    <main>
        <ul>
            <li><a href="{{ url_for('log_usage') }}">Log Service Usage</a></li>
        </ul>
    </main>
</body>
</html>