{% extends "layout/sub_base.html" %}

{% block title %}
    Log Engagement
{% endblock %}

{% block main %}
    {% if feedback %}
        <strong>{{ feedback }}</strong>
    {% else %}
        Use the following form to log engagement:
    {% endif %}

    <form method="post">
        <p>
            <label for="method">Method:</label>
            <select id="method" name="method" required>
                <option value="email">Email</option>
                <option value="app">App</option>
                <option value="sms">SMS</option>
            </select>
        </p>

        <p>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required>
        </p>
        
        <p>
            <label for="notes">Notes:</label>
            <br aria-hidden="true">
            <textarea id="notes" name="notes" rows="6" cols="35" required></textarea>
        </p>

        <input type="submit">
    </form>
{% endblock %}