{% extends "layout/sub_base.html" %}

{% block title %}
    Log Service Usage
{% endblock %}

{% block main %}
    {% if feedback %}
        <strong>{{ feedback }}</strong>
    {% else %}
        Use the following form to log service usage:
    {% endif %}

    <form method="post">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </p>

        <p>
            <label for="service">Service:</label>
            <input type="text" id="service" name="service" required>
        </p>
        
        <p>
            <label for="sector">Sector:</label>
            <input type="text" id="sector" name="sector" required>
        </p>
        
        <p>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
        </p>

        <input type="submit">
    </form>
{% endblock %}