{% extends "layout/sub_base.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}
    <p><strong>{{ data|length }}</strong> service usages have been logged so far.</p>
    <ul>
        <li>
            There are <strong>{{ data|map(attribute='service')|unique|list|length }}</strong> unique services logged:
            <ul>
                {% for service in data|map(attribute='service')|unique %}
                    <li><strong>{{ service }}</strong> with <strong>{{ data|selectattr('service', 'eq', service)|list|length }}</strong> entries</li>
                {% endfor %}
            </ul>
        </li>
        <li>
            There are <strong>{{ data|map(attribute='sector')|unique|list|length }}</strong> unique sectors logged:
            <ul>
                {% for sector in data|map(attribute='sector')|unique %}
                    <li><strong>{{ sector }}</strong> with <strong>{{ data|selectattr('sector', 'eq', sector)|list|length }}</strong> entries</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}